<header class="fixed top-0 left-0 right-0 z-50 flex items-center justify-between p-[18.5px] bg-[#012951] border-b">
    <div class="flex items-center justify-center space-x-2">
        <div class="text-white me-auto text-start ps-4">
            <h1 class="mb-1 text-lg font-medium text-white">ThreatWatch - DDoS Detection and Mitigation</h1>
        </div>
    </div>
    <div class="flex items-center space-x-4">
        <button id="sidebarToggle"
            class="p-2 text-white transition duration-200 rounded-lg hover:bg-bg-blue-900 lg:hidden">
            <i class="fas fa-bars"></i>
        </button>
        <div class="flex items-center gap-6 space-x-3">

            <a href="/auth/logout"
                class="inline-flex items-center gap-2 px-4 py-2 text-sm font-medium transition bg-white rounded-lg text-[#012951] hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-offset-2">
                <i class="fa-solid fa-right-from-bracket"></i>
                Logout
            </a>
        </div>
    </div>
</header>